.blueButton {
    background-color: #3A86FF;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;   
}

.purpleButton {
    background-color: #6A4C93;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
}

.displayPlan {
    display: flex;
    flex-direction: row;
    background-color:white;
    border: double 2px #6558F5;
    padding: 1rem;
    margin: 2rem;
}