/*This module maintains css styling for MainPage.js, including flex display, uniform margins, and buttons*/

.main {
    margin: 2rem;
}

.blueButton {
    background-color: #3A86FF;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: .5rem;
    margin-bottom: .5rem;   

}

.purpleButton {
    background-color: #6A4C93;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: .5rem;
  
}

.greenButton {
    background-color: #0db96f;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
    margin-top: .5rem;
}

.yellowButton {
    background-color: #FFCA3A;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;   
}

.customAct {
    margin: 2rem;
}

.displayPlan {
    display: flex;
    flex-direction: row;
    background-color:white;
    border: double 2px #6558F5;
    padding: 1rem;
}

.plan__item {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 2px dashed #8AC926;
}