/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


*, body, button, input, select, textarea {
  margin: 0;
  /* font-family: 'Jost', sans-serif; */
  font-family: 'Nunito', sans-serif;
}

code {
  /* font-family: 'Jost', sans-serif; */
  font-family: 'Nunito', sans-serif;
}


