.navbar {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #C2EAFF;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

.logo {
    height: 100px;
    margin-left: 6px;
}

li {
    padding: 0 2rem 0 2rem;
}